* {
    transition: 70ms;
        font-family: "JetBrains Mono Fallback";

}

button {
    color: #FFFFFF;
    font-size:18px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    border-style: solid;
    background-color: rgba(12, 12, 12, 0.3);
    border: 3px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

window {
    background-color: rgba(0, 20, 20, 0.5);
}

button:focus,
button:active,
button:hover {
    color: @color11;
    background-color: rgba(12, 12, 12, 0.5);
    border: 3px solid @color11;
}

/* Buttons */

#lock {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/lock.png"));
}

#logout {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/logout.png"));
}

#suspend {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    margin: 10px;
    border-radius: 26px;
    background-image: image(url("icons/reboot.png"));
}
